discord.py[speed]
python-dotenv
APScheduler
asyncpg
pydantic
pydantic-settings
SQLAlchemy
psycopg2
aiocache
fastapi
uvicorn
fuzzywuzzy
rapidfuzz
cachetools
types-cachetools
async-cache
# markovify
# aiosqlite
